@media (min-width: 1024px){
    .header{
      width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  
    @media (min-width: 640px){
      .header{
        max-width: 640px;
      }
    }
  
    @media (min-width: 768px){
      .header{
        max-width: 768px;
      }
    }
  
    @media (min-width: 1024px){
      .header{
        max-width: 1024px;
      }
    }
  
    @media (min-width: 1127px){
      .header{
        max-width: 1127px;
      }
  
    }
  }
  
  @media not all and (min-width: 1024px){
    .header{
      align-items: center;
      --tw-bg-opacity: 1;
      background-color: rgb(255 255 255 / var(--tw-bg-opacity));
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
      filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    }
  }
  
  @media not all and (min-width: 768px){
    .title-h1{
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }
  
  
  @media (min-width: 768px){
    .sorts{
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 1024px){
    .sorts{
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 1127px){
    .sorts{
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 640px){
    .main-element{
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px){
    .main-element{
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px){
    .main-element{
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1127px){
    .main-element{
      max-width: 1127px;
    }
  }
  
  @media not all and (min-width: 768px){
    .white-tomatoes{
      flex-direction: column;
    }
  }
  
  @media (min-width: 768px){
    .white-card{
      width: 33.333333%;
    }
  }
  
  @media not all and (min-width: 1024px){
    .many-kiwi{
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media not all and (min-width: 768px){
    .many-kiwi{
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  
  ::before,
  ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
  }
  
  @media (min-width: 640px){
    .container{
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px){
    .container{
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px){
    .container{
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1127px){
    .container{
      max-width: 1127px;
    }
  }
  
  
  
  @media not all and (min-width: 1127px){
    .max-xl\:mt-5{
      margin-top: 1.25rem;
    }
  
    .max-xl\:flex-col{
      flex-direction: column;
    }
  
    .max-xl\:text-5xl{
      font-size: 3rem;
      line-height: 1;
    }
  }
  
  @media not all and (min-width: 1024px){
    .max-lg\:mt-5{
      margin-top: 1.25rem;
    }
  
    .max-lg\:hidden{
      display: none;
    }
  
    .max-lg\:max-h-\[80px\]{
      max-height: 80px;
    }
  
    .max-lg\:flex-col{
      flex-direction: column;
    }
  
    .max-lg\:flex-wrap{
      flex-wrap: wrap;
    }
  }
  
  @media not all and (min-width: 768px){
    .max-md\:flex{
      display: flex;
    }
  
    .max-md\:w-1\/2{
      width: 50%;
    }
  
    .max-md\:flex-col{
      flex-direction: column;
    }
  
    .max-md\:items-center{
      align-items: center;
    }
  
    .max-md\:text-4xl{
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  
    .max-md\:text-lg{
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  
    .max-md\:text-xl{
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
  
  @media not all and (min-width: 640px){
    .max-sm\:hidden{
      display: none;
    }
  
    .max-sm\:max-w-\[50\%\]{
      max-width: 50%;
    }
  }
  
  @media (min-width: 640px){
    .sm\:hidden{
      display: none;
    }
  }
  
  @media (min-width: 768px){
    .md\:w-1\/2{
      width: 50%;
    }
  }
  
  @media (min-width: 1024px){
    .lg\:mt-12{
      margin-top: 3rem;
    }
  
    .lg\:hidden{
      display: none;
    }
  
    .lg\:h-\[150px\]{
      height: 150px;
    }
  
    .lg\:w-1\/2{
      width: 50%;
    }
  
    .lg\:items-end{
      align-items: flex-end;
    }
  }
  
  @media (min-width: 1127px){
    .xl\:-mt-8{
      margin-top: -2rem;
    }
  
    .xl\:w-1\/2{
      width: 50%;
    }
  
    .xl\:space-x-\[125px\] > :not([hidden]) ~ :not([hidden]){
      --tw-space-x-reverse: 0;
      margin-right: calc(125px * var(--tw-space-x-reverse));
      margin-left: calc(125px * calc(1 - var(--tw-space-x-reverse)));
    }
  }