body {
    font-family: 'Roboto Slab', serif;
  }
  .header{
    display: flex;
    max-height: 113px;
    justify-content: space-between;
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
  }
  .button {
    font-family: 'Roboto', serif;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: #57984C;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: #FFFFFF;
  }
  .button:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(20 83 45 / var(--tw-bg-opacity));
  }
  
  .search{
    align-self: flex-end;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(50 73 80 / var(--tw-border-opacity));
    background-color: inherit;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .search::-moz-placeholder{
    --tw-text-opacity: 1;
    color: rgb(50 73 80 / var(--tw-text-opacity));
  }
  .search::placeholder{
    --tw-text-opacity: 1;
    color: rgb(50 73 80 / var(--tw-text-opacity));
  }
  .bg-image {
    background-image: url("/img/bg.jpg");
    height: 850px;
    background-size: cover;
    background-position: center;
  }
  .title-h1{
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(115 84 64 / var(--tw-text-opacity));
  }
  .sorts{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .sort{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
  }
  .sort > p{
    margin-top: 1.25rem;
    text-align: center;
  }
  .sort > img{
    max-height: 55px;
  }
  .h2 {
    font-size: 64px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(50 73 80 / var(--tw-text-opacity));
  }
  .union {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .union-tomato {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .main-element{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .main-element{
    display: flex;
    padding-top: 2.5rem;
  }
  .green-line{
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
    width: 180px;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(87 152 76 / var(--tw-border-opacity));
  }
  .main-activities{
    justify-content: center;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    vertical-align: top;
  }
  .activity{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    width: 33.333333%;
    justify-content: center;
  }
  .activity-title{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: #57984C;
  }
  .potatoes-title{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(87 152 76 / var(--tw-text-opacity));
  }
  .hr{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    height: 1px;
    width: 50%;
    --tw-bg-opacity: 1;
    background-color: #57984C;
  }
  .links > li{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  .social > img{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  footer {
    font-family: 'Roboto', serif;
    font-weight: 400;
  }
  .tomatoes-description{
    margin-bottom: 1.75rem;
    --tw-text-opacity: 1;
    color: rgb(50 73 80 / var(--tw-text-opacity));
    font-size: 17px;
  }
  .text-17 {
    font-size: 17px;
  }
  .text-54 {
    font-size: 54px;
  }
  .white-tomatoes{
    display: flex;
    justify-content: center;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  .white-title{
    margin-top: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(50 73 80 / var(--tw-text-opacity));
  }
  .white-description{
    margin-top: 0.75rem;
    --tw-text-opacity: 1;
    color: rgb(50 73 80 / var(--tw-text-opacity));
  }
  .white-card{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .input-base{
    height: 55px;
    border-radius: 0.75rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(218 218 218 / var(--tw-border-opacity));
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .green-vertical-line{
    border-left-width: 4px;
    --tw-border-opacity: 1;
    border-color: rgb(0 128 0 / var(--tw-border-opacity));
    padding-left: 1rem;
  }
  .many-kiwi{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    text-align: center;
  }
  .kiwi{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-bottom: 0.75rem;
  }
  .kiwi-img{
    width: 376px;
    height: 302px;
    padding-bottom: 0.75rem;
    overflow:hidden
  }
  .kiwi > h3{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity));
  }
  .kiwi > p{
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity));
    font-size: 17px;
  }
  .potato-h1{
    font-weight: 700;
    font-size: 54px;
  }
  ::before,
  ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
  }
  ::before,
  ::after {
    --tw-content: '';
  }
  html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
  }
  body {
    margin: 0;
    line-height: inherit;
  }
  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }
  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
  }
  h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
  b,strong {
    font-weight: bolder;
  }
  code,kbd,samp,pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em;
  }
  small {
    font-size: 80%;
  }
  sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }
  button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
  }
  :-moz-focusring {
    outline: auto;
  }
  :-moz-ui-invalid {
    box-shadow: none;
  }
  progress {
    vertical-align: baseline;
  }
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  [type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
   font: inherit;
  }
  summary {
    display: list-item;
  }
  blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
    margin: 0;
  }
  fieldset {
    margin: 0;
    padding: 0;
  }
  legend {
    padding: 0;
  }
  ol,ul,menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  textarea {
    resize: vertical;
  }
  input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af;
  }
  input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
  }
  button,
  [role="button"] {
    cursor: pointer;
  }
  :disabled {
    cursor: default;
  }
  img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle;
  }
  img,video {
    max-width: 100%;
    height: auto;
  }
  [hidden] {
    display: none;
  }
  *, ::before, ::after{
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
  }
  ::backdrop{
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
  }
  .container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .mx-10{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .mx-auto{
    margin-left: auto;
    margin-right: auto;
  }
  .my-3{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .my-5{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .-mr-2{
    margin-right: -0.5rem;
  }
  .mb-10{
    margin-bottom: 2.5rem;
  }
  .mb-12{
    margin-bottom: 3rem;
  }
  .mb-32{
    margin-bottom: 8rem;
  }
  .mb-5{
    margin-bottom: 1.25rem;
  }
  .mb-8{
    margin-bottom: 2rem;
  }
  .ml-3{
    margin-left: 0.75rem;
  }
  .ml-5{
    margin-left: 1.25rem;
  }
  .mr-6{
    margin-right: 1.5rem;
  }
  .mt-10{
    margin-top: 2.5rem;
  }
  .mt-3{
    margin-top: 0.75rem;
  }
  .mt-5{
    margin-top: 1.25rem;
  }
  .mt-8{
    margin-top: 2rem;
  }
  .flex{
    display: flex;
  }
  .h-\[27px\]{
    height: 27px;
  }
  .h-\[390px\]{
    height: 390px;
  }
  .h-\[600px\]{
    height: 600px;
  }
  .w-10{
    width: 2.5rem;
  }
  .w-\[100px\]{
    width: 100px;
  }
  .w-\[18px\]{
    width: 18px;
  }
  .grow{
    flex-grow: 1;
  }
  .basis-\[350px\]{
    flex-basis: 350px;
  }
  .list-inside{
    list-style-position: inside;
  }
  .list-disc{
    list-style-type: disc;
  }
  .flex-col{
    flex-direction: column;
  }
  .items-end{
    align-items: flex-end;
  }
  .items-center{
    align-items: center;
  }
  .justify-center{
    justify-content: center;
  }
  .justify-between{
    justify-content: space-between;
  }
  .gap-3{
    gap: 0.75rem;
  }
  .gap-5{
    gap: 1.25rem;
  }
  .space-x-5 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(1.25rem * var(--tw-space-x-reverse));
    margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
  }
  .space-y-2 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
  }
  .space-y-2\.5 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
  }
  .space-y-5 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
  }
  .self-end{
    align-self: flex-end;
  }
  .rounded-\[60px\]{
    border-radius: 60px;
  }
  .rounded-full{
    border-radius: 9999px;
  }
  .rounded-xl{
    border-radius: 0.75rem;
  }
  .border{
    border-width: 1px;
  }
  .border-2{
    border-width: 2px;
  }
  .border-b-2{
    border-bottom-width: 2px;
  }
  .border-\[\#57984C\]{
    --tw-border-opacity: 1;
    border-color: rgb(87 152 76 / var(--tw-border-opacity));
  }
  .border-\[\#DADADA\]{
    --tw-border-opacity: 1;
    border-color: rgb(218 218 218 / var(--tw-border-opacity));
  }
  .border-green-900{
    --tw-border-opacity: 1;
    border-color: rgb(20 83 45 / var(--tw-border-opacity));
  }
  .bg-\[\#2D3F45\]{
    --tw-bg-opacity: 1;
    background-color: rgb(45 63 69 / var(--tw-bg-opacity));
  }
  .bg-\[\#324950\]{
    --tw-bg-opacity: 1;
    background-color: rgb(50 73 80 / var(--tw-bg-opacity));
  }
  .bg-\[\#57984C\]{
    --tw-bg-opacity: 1;
    background-color: rgb(87 152 76 / var(--tw-bg-opacity));
  }
  .bg-\[\#F7F7F7\]{
    --tw-bg-opacity: 1;
    background-color: rgb(247 247 247 / var(--tw-bg-opacity));
  }
  .bg-\[\#FCF0F0\]{
    --tw-bg-opacity: 1;
    background-color: rgb(252 240 240 / var(--tw-bg-opacity));
  }
  .bg-gray-100{
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  .p-2{
    padding: 0.5rem;
  }
  .p-2\.5{
    padding: 0.625rem;
  }
  .px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .px-\[30px\]{
    padding-left: 30px;
    padding-right: 30px;
  }
  .px-\[8\%\]{
    padding-left: 8%;
    padding-right: 8%;
  }
  .py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .py-14{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
  .py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .py-2\.5{
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
  .py-5{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .pb-10{
    padding-bottom: 2.5rem;
  }
  .pb-3{
    padding-bottom: 0.75rem;
  }
  .pl-3{
    padding-left: 0.75rem;
  }
  .pr-3{
    padding-right: 0.75rem;
  }
  .pt-16{
    padding-top: 4rem;
  }
  .pt-3{
    padding-top: 0.75rem;
  }
  .text-center{
    text-align: center;
  }
  .text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .text-5xl{
    font-size: 3rem;
    line-height: 1;
  }
  .text-\[17px\]{
    font-size: 17px;
  }
  .text-\[20px\]{
    font-size: 20px;
  }
  .text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .font-bold{
    font-weight: 700;
  }
  .text-\[\#324950\]{
    --tw-text-opacity: 1;
    color: rgb(50 73 80 / var(--tw-text-opacity));
  }
  .text-\[\#57984C\]{
    --tw-text-opacity: 1;
    color: rgb(87 152 76 / var(--tw-text-opacity));
  }
  .text-\[\#B9B9B9\]{
    --tw-text-opacity: 1;
    color: rgb(185 185 185 / var(--tw-text-opacity));
  }
  .text-\[\#CF2333\]{
    --tw-text-opacity: 1;
    color: rgb(207 35 51 / var(--tw-text-opacity));
  }
  .text-green-600{
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity));
  }
  .text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  .shadow-2xl{
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .outline-none{
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  /* скрываем чекбокс */
  #menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* контейнер меню */
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .act {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 24px;
    color: #57984C;
    text-align: center;
}

.product {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 20px;
  line-height: 142.7%;
  color: #324950;
}
td {
  display: table-cell;
  vertical-align: inherit;
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
 